In [1]:
!pip install pywin32

Requirement already satisfied: pywin32 in e:\anaconda\lib\site-packages (302)

In [9]:
import win32com.client as client
import pandas as pd 
import datetime as dt

In [10]:
tabela = pd.read_excel('clientes.xlsx')
display(tabela)

,clientes,telefone,cnpj,email,Unnamed: 4,situacao
0,a,1,iwjewej,jarbas.gama@yahoo.com.br,NaN,ativa
1,a,1,iwjewej,rafinhadias_gama@hotmail.com,NaN,ativa
2,a,1,iwjewej,jarbas.gama@yahoo.com.br,NaN,ativa
3,a,1,iwjewej,jarbas.gama@yahoo.com.br,NaN,baixada
4,a,1,iwjewej,jarbas.gama@yahoo.com.br,NaN,baixada
5,a,1,iwjewej,jarbas.gama@yahoo.com.br,NaN,baixada
6,a,1,iwjewej,jarbas.gama@yahoo.com.br,NaN,baixada
7,a,1,iwjewej,jarbas.gama@yahoo.com.br,NaN,baixada
8,a,1,iwjewej,jarbas.gama@yahoo.com.br,NaN,baixada

In [11]:
situacao = tabela.loc[tabela['situacao']=='ativa']
display(situacao)

,clientes,telefone,cnpj,email,Unnamed: 4,situacao
0,a,1,iwjewej,jarbas.gama@yahoo.com.br,NaN,ativa
1,a,1,iwjewej,rafinhadias_gama@hotmail.com,NaN,ativa
2,a,1,iwjewej,jarbas.gama@yahoo.com.br,NaN,ativa

In [12]:
outlook= client.Dispatch('Outlook.Application')

In [13]:
emissor = outlook.session.Accounts['jarbas.gama35@gmail.com']

In [14]:
dados = situacao[['clientes' ,'telefone','email ']].values.tolist()
print(dados)

[['a', 1, 'jarbas.gama@yahoo.com.br'], ['a', 1, 'rafinhadias_gama@hotmail.com'], ['a', 1, 'jarbas.gama@yahoo.com.br']]

In [15]:
for dado in dados:
    destinatario = dado[2]
    resp = dado[0]
    tel = dado[1]
    
    mensagem = outlook.CreateItem(0)
    mensagem.Display()
    mensagem.To = destinatario
    mensagem.Subject = 'Consultoria Contabil'
    mensagem.Body =f'''
    Teste
    ola {resp} com o telefone {tel} vamos ter uma parceria?! 
    '''
    
    mensagem._oleobj_.Invoke(*(64209 , 0,8,0,emissor))
    mensagem.Save()
    mensagem.Send()